.party{
    display: flex;
    margin-top: 100px;
    width: 400px;
    height: 600px;
    border: 2px  solid #c0b4b4db;
    padding: 2px;
    background-color: rgb(222, 218, 218);
    height: 550px;
    }
    
    .logo{
    width: 125px;
    margin-top: 7px;
    margin-bottom: 10px;
    
    }
    .login_right{
        height: 350px;
        width:350px;
        border: 1px solid #dbdbdbdb;
        margin-top: 100px;
        text-align: center;
    }
    .loginPage{
        width: 258px;
        height: 35px;
    
    }
    .text{
        margin: 5px;
        margin-left: 45px;
        width: 258px;
        height: 35px;
        border: 1px solid #dbdbdbdb;
        background-color: #fafafa;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 5px;
    
    }
    .password{
        margin: 16px;
        margin-left: 45px;
        width: 258px;
        height: 35px;
        border: 1px solid #dbdbdbdb;
        background-color:#fafafa;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 5px;
    }
    .button{
        margin: 5px;
        width: 258px;
        margin-left:45px;
        height: 35px;
        border-radius: 5px;
        font-weight: bold;
        border:1px solid #c1c9cf;
        background-color: #0395f6;
        color: white;
    }
    .no_account{
        border: 1px solid #dbdbdbdb;
        margin-top: 250px;
        padding: 3px;
        background-color: white;
    }