.container{
    margin-top: 30px;
}

.post_image{
    height: 400px;
    width: 450px;
    border: 2px solid #dbdbdbdb;
    padding: 6px;
    background-color: #f5f5f5be;
    display: block;
    margin: 0 auto;

}
.middle{
    width: 465px;
    background-color: white;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.captions{
    font-size: 12px;
    border: 2px solid #dbdbdbdb;
    text-align: center;
    padding: 15px;
    background-color: #f5f5f57d;
}
