.container{
    margin-top: 30px;
}

.post_image{
    height: 400px;
    width: 450px;
    padding: 6px;
    background-color: #0d01013f;
    border: 2px solid #6a67671c;
    display: block;
    margin: 0 auto;


}
.middle{
    width: 465px;
    background-color: white;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.captions{
    font-size: 15px;
    text-align: center;
    padding: 15px;
    background-color: #e6dede42;
    border: 2px solid #b8b3b3db;
}
.comments{
    padding: 2px;
    font-size: 12px;
}
.header{
    padding: 4px;
    border: 2px solid #8f8d8ddb;
    background-color: #bdb8b837;
    font-size: 18px;
}
.comments_section{
    width: 125px;
    border: 2px solid #000000db;
    background-color: #c50505;

}