.container{
    border-top: 2px solid #dbdbdbdb;
    width: 615px;
    background-color: white;
    margin-top: 25px;
}

.header{
    border-bottom: 1px solid #dbdbdbdb;
    display: flex;
}

.post_image{
    min-width: 10px;
    min-height: 10px;
    margin: 10px;
}